<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>ok-admin | 很赞的后台模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="accountmanager"/>
    <meta name="description" content="accountmanager v0.1"/>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/layui/css/layui.css"/>
    <link rel="stylesheet" href="static/css/login/animate.min.css"/>
    <link rel="stylesheet" href="static/css/login/login.css"/>
</head>
<body>
<div class="login-box animated rotateIn">
    <div class="head"></div>
    <div class="input-box">
        <form class="layui-form">
            <input type="text" name="name" required lay-verify="required" placeholder="邮箱/手机号/平台账号" autocomplete="off" class="layui-input"/>
            <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input"/>
            <div class="remember-me">
                <span>记住我：</span>
                <input type="checkbox" name="zzz" lay-skin="switch" lay-text="是|否"/>
            </div>
            <input type="submit" value="登 录" lay-submit lay-filter="login"/>
        </form>
        <div class="oauth">
            <i class="iconfont icon-WechatIMG" style="font-size: 25px;"></i>
            <i class="iconfont icon-github"></i>
            <i class="iconfont icon-logo-weibo"></i>
            <i class="iconfont icon-qq"></i>
            <i class="iconfont icon-weixin"></i>
            <i class="iconfont icon-zhifubao"></i>
        </div>
    </div>
    <div class="copyright">
        © 2018-2019 accountmanager. All rights reserved.
    </div>
</div>
<!--js逻辑-->
<script src="static/js/common.js"></script>
<script src="static/layui/layui.js"></script>
<script src="static/js/jquery3.3.1.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;

        form.on('submit(login)', function (data) {
            var index = layer.load(1);
            $.ajax({
                url: base_url+"/login"
                ,data: data.field
                ,type: 'post'
                ,dataType: 'json'
                ,success: function (d) {
                    layer.close(index);
                    if (d.msg == "success") {
                        layer.msg('登录成功！', {icon:1,time:1000}, function(){
//                            window.location.href = "${request.contextPath}/" + d.url
                        });
                    } else{
                        layer.msg(d.msg,{icon:5,time:2000}, function(){});
                    }
//
                }
            });
            return false;
        });
    });
</script>
</body>
</html>